.detail {
    background-image: linear-gradient(to top, rgba(17, 29, 29, 0.93), rgba(17, 29, 29, 0.93)), url(https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/2I5eBh98Q4aPq8WdQrHdTC8ARhY.jpg);
    height: 100vh;
    background-size: cover;
    padding-top: 120px;
    color: #fff;
}
.detail .left-banner {
    width: 30%;
}
.detail .left-banner img {
    border-radius: 10px;
    width: 90%;
}
.detail .right-banner {
    width: 70%;
    margin-left: 20px;
}
.detail .right-banner h1 {
    font-size: 20px;
}
.detail .right-banner .yearPro {
    font-size: 10px;
    margin: 10px 0;
}
.detail .right-banner .yearPro .kind {
    margin: 0 5px;
}
.detail .right-banner .yearPro .time i {
    color: var(--primarycolor);
}
.detail .right-banner .rate {
    font-size: 12px;
}
.detail .right-banner .rate .number-rate {
    color: var(--primarycolor);
    border: 2px solid var(--primarycolor);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.detail .right-banner .rate .user {
    padding: 0 15px 0 10px;
}
.detail .right-banner .rate .playtrailer {
    border: 2px solid #fff;
    padding: 3px 6px;
    cursor: pointer;
}
.detail .right-banner h3 {
    font-size: 11px;
    margin: 10px 0;
}
.detail .right-banner h2 {
    font-size: 15px;
}
.detail .right-banner .overview {
    font-size: 12px;
}
.listactors {
    background-image: url(../img/upcoming-bg.png);
    padding: 20px 0 50px;
    background-size: cover;
}
.listactors .title {
    text-align: center;
    padding: 30px 0;
}
.listactors .title h3 {
    color: var(--primarycolor);
    font-size: 15px;
    font-weight: 300;
}
.listactors .title h1 {
    color: #fff;
}
.listactors .thumb-actor {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-bottom: 20px;
    color: #fff;
}
.listactors .thumb-actor::-webkit-scrollbar {
    height: 8px;
}
.listactors .thumb-actor::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: 0 0 0 2px var(--primary-color);
    border-radius: 10px;
}
.listactors .thumb-actor::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px 0 #000, inset 0 -1px 0 #000;
}
.listactors .thumb-actor .actor {
    min-width: 13%;
}
.listactors .thumb-actor .actor img {
    border-radius: 10px;
}
.listactors .thumb-actor .actor h1 {
    font-size: 17px;
    margin: 10px 0;
    color: #fff;
}
.listactors .thumb-actor .actor .name-actors {
    font-size: 10px;
    color: #fff;
}
.popup {
    transform: translateX(-50%);
    visibility: hidden;

    width: 100%;
    height: 98%;
    position: fixed;
    top: 0;
    left: 50%;
    background-color: #0000008f;
    z-index: 9999;
}
.popup.active {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.popup .popup-inner {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    background-color: #fff;
    padding-bottom: 5px;
}
.popup.active .popup-inner {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s;
}
.popup .popup-inner .text {
    display: flex;
    color: #d25d7e;
    background-color: #111d1d;
    border: 1px solid #111d1d;
    justify-content: space-between;
    padding: 8px 10px;
}
.popup .popup-inner .text h3 {
    color: var(--primarycolor);
}
.popup .popup-inner .text .faX {
    font-size: 10px;
    font-weight: 600;
    color: var(--primarycolor);
    cursor: pointer;
}
.popup .popup-inner.active {
    display: none;
}
.review {
    background-image: url(../img/review-bg.jpeg);
    gap: 20px;
}
.review .title {
    text-align: center;
    padding: 30px 0;
}
.review .title h3 {
    color: var(--primarycolor);
    font-size: 15px;
    font-weight: 300;
}
.review .title h1 {
    color: #fff;
}
.review .reviewer {
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.review .reviewer .feedpeople {
    width: calc(50% - 20px);
    padding: 20px;
    display: flex;
    margin-bottom: 10px;
    background-color: #ffffff0a;
    border-radius: 10px;
}
.review .reviewer .picture {
    width: 20%;
}
.review .reviewer .picture img {
    border-radius: 10px;
}
.review .reviewer .text-review {
    width: 80%;
    color: #fff;
    margin-left: 30px;
}
.review .reviewer .text-review h2 {
    font-size: 17px;
}
.review .reviewer .text-review .date-written {
    font-size: 12px;
    margin: 8px 0;
}
.review .reviewer .text-review .text-feed {
    font-size: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.review .reviewer .text-review .text-feed.active {
    -webkit-line-clamp: unset;
}
.review .reviewer .text-review .showmore {
    font-size: 10px;
    color: #bababa;
    font-style: italic;
    cursor: pointer;
    transition: 0.5s;
}
.review .reviewer .text-review .showmore:hover {
    color: #fff;
}
@media (max-width: 991px) {
    .detail {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 767px) {
    .detail {
        height: unset;
        padding-bottom: 40px;
    }
    .detail .left-banner img {
        margin-bottom: 15px;
    }
    .detail .container.align-item {
        display: block;
    }
    .detail .left-banner {
        width: 30%;
        margin: 0 auto;
    }
    .detail .right-banner {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    .detail .right-banner .yearPro {
        justify-content: center;
    }
    .detail .right-banner .rate {
        justify-content: center;
    }
    .listactors .thumb-actor .actor h1 {
        font-size: 10px;
    }
    .listactors .thumb-actor .actor .name-actors {
        font-size: 6px;
    }
    .review .title h3 {
        font-size: 10px;
    }
    .review .title h1 {
        font-size: 22px;
    }
    .review .reviewer .feedpeople {
        margin-bottom: 0px;
    }
    .review .reviewer .text-review h2 {
        font-size: 12px;
    }
    .review .reviewer .text-review .date-written {
        font-size: 9px;
    }
    .review .reviewer .text-review .text-feed {
        font-size: 7px;
    }
    .review .reviewer .text-review .showmore {
        font-size: 8px;
    }
}
@media (max-width: 575px) {
    .detail {
        padding-bottom: 5px;
    }
    .detail .left-banner {
        width: 45%;
    }
    .review .reviewer {
        padding-bottom: 20px;
    }
    .review .reviewer .feedpeople {
        display: block;
        padding: 10px;
        padding-top: 10px;
    }
    .review .reviewer .picture {
        width: 40%;
        margin: 0 auto;
        padding-bottom: 12px;
    }
    .review .reviewer .text-review {
        text-align: center;
    }
    .review .reviewer .text-review {
        width: 100%;
        margin-left: 0;
    }
    .listactors .title h3 {
        font-size: 12px;
    }
    .listactors .title h1 {
        font-size: 23px;
    }
    .listactors .thumb-actor .actor {
        min-width: 25%;
    }
}
